html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: #283A4A;
    background: url(images/4.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}

body {
    width: 1000px;
    margin: 50px auto;
    padding: 0 20px 20px 20px;
    border: 8px solid #C6DBD4;
    background-color: #B3D3DB;
}

header {
    font-size: 55px;
    color: #283A4A;
    text-shadow: 1px 1px 1px #171F41;
    text-align: center;
}

h1 {
    font-size: 35px;
    text-align: center;
    padding: 20px 0;
    color: #283A4A;
    text-shadow: 1px 1px 1px #171F41;
    margin: 0px;
}

img, video {
    display: block;
    margin: 0 auto;
}

p, li , dt, dd, pre{
    font-size: 15px;
    line-height: 2;
    letter-spacing: 1px;
}

article p:first-child::first-line {
    font-size: 200%;
}

.points {
    list-style-type: none;
    font-size: 18px;
}

ul li{
    font-size: 15px;
    line-height: 2;
    letter-spacing: 1px;
    list-style-type: disclosure-closed;
}
h2 {
    font-size: 23px;
    line-height: 2;
    letter-spacing: 1px;
}

a:link, a:visited {
    color: black;
}

a:hover {
    text-decoration: none;
}
