html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: #283A4A;
    background-image: url(../images/32.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}

body {
    min-width: 825px;
    max-width: 50%;
    margin: 50px auto;
    padding: 0 20px 20px 20px;
    border: 8px double #5e6a7e;
    border-radius: 20px;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    background-color: #dbf8ff;
}

header {
    font-size: 55px;
    color: #283A4A;
    text-shadow: 1px 1px 1px #171F41;
    text-align: center;
}

h1 {
    font-size: 35px;
    text-align: center;
    background-color: rgba(105, 240, 224, 0.05);
    padding: 20px 0;
    color: #283A4A;
    text-shadow: 1px 1px 1px #171F41;
    margin: 0px;
}

img {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 10px 0px;
    
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 84%;
}
.big-image {
    width: 100%;
}

p, li , dt, dd, pre{
    font-size: 15px;
    line-height: 2;
    letter-spacing: 1px;
}

.points {
    list-style-type: none;
    font-size: 18px;
}

ul li{
    font-size: 15px;
    line-height: 2;
    letter-spacing: 1px;
    list-style-type: disclosure-closed;
}
h2 {
    font-size: 23px;
    line-height: 2;
    letter-spacing: 1px;
}

a:link, a:visited{
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
    background-color: #8de8ff5f;
}
