html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    background-color: #283A4A;
}

body {
    width: 1920px;
    margin: 50px auto;
    padding: 0 20px 20px 20px;
    border: 15px solid #C6DBD4;
    background-color: #B3D3DB;
}

h1 {
    font-size: 70px;
    text-align: center;
    padding: 20px 0;
    color: #283A4A;
    text-shadow: 1px 1px 3px #171F41;
    margin: 0px;
}
img {
    display: block;
    margin: 0 auto;
}
p, li {
    font-size: 32px;
    line-height: 2;
    letter-spacing: 1px;
}
h2 {
    font-size: 40px;
    line-height: 2;
    letter-spacing: 1px;
}
