html {
    font-size: 10px;
    font-family: 'Arial', italic;
    background-color: #283A4A;
    background-image: url(../images/32.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
}




/*Главные части*/
main {
    min-width: 825px;
    max-width: 50%;
    margin: 0px auto;
    padding: 0 20px 20px 20px;
    border: 8px double #5e6a7e;
    background-color: #dbf8ff;
}

header {
    min-width: 825px;
    max-width: 50%;
    margin: 5px auto;
    padding: 0 20px 20px 20px;
    border: 8px double #5e6a7e;
    border-radius: 0px;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    background-color: #dbf8ff;
}

footer {
    min-width: 825px;
    max-width: 50%;
    margin: 5px auto;
    padding: 0 20px 20px 20px;
    border-radius: 30px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border: 8px double #5e6a7e;
    background-color: #dbf8ff;
}



/*Заголовки*/
h1 {
    font-size: 4rem;
    text-align: center;
    background-color: rgba(105, 240, 224, 0.05);
    padding: 20px 0px 4px 0px;
    color: #283A4A;
    text-shadow: 1px 1px 1px #171F41;
    margin: 0px;
}

h2 {
    font-size: 23px;
    line-height: 2;
    letter-spacing: 1px;
}




/*Контент*/
img {
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 20px 0px;
    
}

video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 84%;
}

.big-image {
    width: 100%;
}

p, li , dt, dd, pre{
    font-size: 15px;
    line-height: 2;
    letter-spacing: 1px;
}

ul li{
    font-size: 15px;
    line-height: 2;
    letter-spacing: 1px;
    padding-left: 0px;
    list-style: none;
    list-style-type: disclosure-closed;
    padding-left: 5px;
    background-position: left;
	margin: 0;
}




/*Ccылки*/
a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
a:link {
    color: #014753;
}
a:visited {
    color: #026d80;
}
a:focus {
    border-bottom: 1px solid;
    background: #71deff;
}
a:hover {
    border-bottom: 1px solid;
    background: #b6dffa;
}
a:active {
    color: #b6dffa;
    background-color: #026d80;
}
a[href="https://www.kinopoisk.ru/series/1044004/"], a[href="https://citaty.info/game/the-witcher-iii-wild-hunt-vedmak-iii-dikaya-ohota"] {
    background: url("../images/external-link-52.png") no-repeat 100% 0;
    background-size: 15px 15px;
    padding-right: 19px;
}





/*Кнопки навигации*/
.navbar {
    text-align: center;
    padding: 0;
    width: 100%;
}
.lil {
    display: inline;
    margin: 0 4rem;
}
.navbar:last-child .items {
    margin-right: 0;
}

.items {
    list-style-type: none;
    outline: none;
    text-decoration: none;
    display: inline-block;
    line-height: 3;
    width: 19.5%;
    margin-right: 0.625%;
    border-radius: 20px;
    font-weight: bold;
}

.items:link, .items:visited, .items:focus {
    background: #b6dffa;
    color: #014753;
    border: 2px solid #b6dffa;
}

.items:hover {
    background: #44b9ce;
    border: 2px solid #b6dffa;
}

.items:active {
    background: #014753;
    color: #b6dffa;
    border: 2px solid #44b9ce;
}
